<footer class="footer-section">
    <div class="container">
        <div class="row pt-5 pb-2">    
                <div class="col-xl-2 col-md-3 mb-50">
                    <div class="single-cta">
                        <i class="fa-solid fa-mobile"></i>
                        <div class="cta-text">
                            <h4>Contacto</h4>
                            <span> XXXX-XXX-XXX </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2.2 col-md-3 mb-50">
                    <div class="single-cta">
                        <i class="fa-solid fa-envelope"></i>
                        <div class="cta-text">
                            <h4>Correo</h4>
                            <span>correo@correo.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3 mb-30">
                    <div class="footer-widget">
                        <div class="footer-social-icon">
                            <span>Nuestras redes</span>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2.1 col-md-3 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                                <h3>Suscribete</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Recibe noticias de nuevos cursos</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                        <div class="send-button">
                                    <button><i class="fa-solid fa-paper-plane"></i></button>
                                        </div>
                                </form>
                            </div>
                        </div>
                </div>
                <div class="col-xl-2 col-md-3 mb-10">
                        <img src="https://www.eafit.edu.co/SiteCollectionImages/logo.png" class="logo">
                </div>                      
        </div>            
    </div>
    
    <div class="copyright-area">
        <div class="container_2">
            <div>
                <div class="col-xl-4 col-md-4 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>