
<div class="container p-0 ">
    <div class="row header">
      <h1>Agrega nuevo curso</h1>
      
    </div>
    <div class="row body">
      <form action="#">
        <ul>
          
          <li>
            <p class="left">
              <label for="Nombredelcurso">Nombre del curso</label>
              <input type="text" name="Nombredelcurso" placeholder="Yoga" />
            </p>
            <p class="pull-right">
              <label for="Profesor">Profesor</label>
              <input type="text" name="Profesor" placeholder="Brayan" />      
            </p>
          </li>       
          <li><div class="divider"></div></li>
          <li>
            <label for="Descripcion">Descripcion</label>
            <textarea cols="46" rows="3" name="Descripcion"></textarea>
          </li>
          
          <li>
            <input class="btn btn-submit text-light fw-medium" type="submit" value="Crear" />
          </li>
          
        </ul>
      </form>  
    </div>
  </div>