<div class="container-card d-flex flex-column ms-3 me-3" style="background-color: var( --secondary-color); color: white; border-radius: 0.375rem;">
  <div class="arriba d-flex mt-3 ms-3 me-3">
    <div class="img-container me-3">
      <div class="coach-img"></div>
    </div>
    <div class="coach-content">
      <div class="descripcion">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, nobis
          modi, dicta recusandae rem possimus aspernatur consequatur dolore, quia
          cumque explicabo ad nemo a sunt? Facilis repellendus doloribus qui
          soluta.
        </p>
      </div>
    </div>
  </div>
  <div class="botones mb-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Contratar
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: var( --secondary-color);">
          <div class="modal-header">
            <div class="coach-img"></div>
            <h1 class="modal-title fs-5 ms-3" id="exampleModalLabel">John Doe</h1>
          </div>
          <div class="modal-body">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, nobis
              modi, dicta recusandae rem possimus aspernatur consequatur dolore, quia
              cumque explicabo ad nemo a sunt? Facilis repellendus doloribus qui
              soluta.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Contactar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
