<div class="main-container">
  <div class="ruta-container d-flex">
    <div class="img-container">
      <!-- <img src="https://images.unsplash.com/photo-1611348586755-53860f7ae57a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="aprender"> -->
    </div>
    <div class="content-container d-flex flex-column">
      <h2>Mis cinco cuerpos</h2>
      <h3>Ruta de aprendizaje sugerida</h3>
      <div class="duracion-container d-flex align-items-center">
        <p>Duración</p>
        <i class="fa-regular fa-clock mb-3"></i>
        <p>1h</p>
      </div>
    </div>
    <button>Comenzar ruta<i class="fa-sharp fa-solid fa-angle-right"></i></button>
  </div>
  <p class="subtitulo-black">Nuestros cursos disponibles</p>
</div>
