<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://www.cuerpomente.com/medio/2020/07/08/1144083_1ee10942_1200x1200.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Yoga</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMuMqEMVWl-pLea2WC4adcXrJ6S1ZclJ7NUQ&usqp=CAU" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Alimentacion saludable</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSMBlkPHQTNKwU7rhBA1A69axFn2sd5TAfdQ&usqp=CAU" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Salud mental</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="main-container d-flex">
  <div class="cursos-vista" style="width: fit-content;">
    <div class="ruta-container d-flex rounded">
      <div class="img-container rounded-start">
      </div>
      <div class="content-container d-flex flex-column">
        <h2>Mis cinco cuerpos</h2>
        <h3>Ruta de aprendizaje sugerida</h3>
        <div class="duracion-container d-flex align-items-center">
          <p class="me-3">Duración</p>
          <i class="fa-regular fa-clock mb-3 me-1"></i>
          <p>1h</p>
        </div>
      </div>
      <button class="d-flex align-items-center p-2 rounded">Comenzar ruta <i class="fa-sharp fa-solid fa-angle-right ms-1"></i></button>
    </div>
    <p class="subtitulo-black mt-5">Nuestros cursos disponibles</p>
    <app-section-cursos></app-section-cursos>
  </div>
  <div class="coach-vista d-flex flex-column gap-4">
    <app-coach></app-coach>
    <app-coach></app-coach>
    <app-coach></app-coach>
  </div>
</div>