 <div class="container">
    <div class="TITULO">
        <h1><strong>Curso de Iniciación a Yoga</strong></h1>
        <p>Este curso te ayudará a encontrar tu equilibrio emocional</p>
        <p>Puedes seguirlo a tu ritmo, de acuerdo a tus horarios</p>
        <p> 4.0 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i> (120 calificaciones) 900 estudiantes </p>
    </div>
    <div class="IMAGEN">
        <img
            src="https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80">
    </div>
    <div class="BOTONES">
        <h2><strong>$ 200.000</strong></h2>
        <button type="button" class="btn btn-primary btn-lg m-3">Añadir al carrito</button>
        <button type="button" class="btn btn-secondary btn-lg"> Comprar  ahora</button>
    </div>
    <div class="DESCRIPCION">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae lacus nunc. Nunc luctus, tellus quis
            semper aliquam, dolor massa sollicitudin velit, eu suscipit ex metus id nulla. Duis sit amet leo sodales
            massa pretium accumsan. Fusce id viverra erat, quis condimentum ipsum. Sed faucibus dapibus mauris suscipit
            luctus. Quisque quis erat lobortis libero auctor interdum. Morbi ac orci ac nisi vestibulum aliquam sed et
            dolor.Sed porttitor orci ut ligula placerat egestas. 
        </p>
    </div>
</div> 

 <div class="myAccordion">  
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Clase #1 - Preparación
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Preparate para empezar en el universo del Yoga</strong> En esta clase conoceremos los elementos prinicpales y las ventajas que tiene para tu cuerpo y tu mente practicar regularmente Yoga. En compañía de tu profesor, podrás conocer y profundizar algunos conceptos básicos.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Clase #2 - Primeros pasos en Yoga en el hogar
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="video ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/i4dwATyTcCk" title="Yoga en el hogar" allowfullscreen></iframe>
                      </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Clase #3 - Anatomía y Fisiología del Yoga
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    In dignissim rhoncus cursus. Maecenas ac tincidunt mauris. Etiam malesuada feugiat erat, quis placerat lectus tempus sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla gravida vel nibh ut tempus. Integer fringilla leo eu leo vehicula malesuada. Praesent finibus congue elit non dignissim. Aenean lacinia vehicula magna quis finibus. Nunc eget sem molestie, dignissim ex a, lacinia nulla. Sed eu porta urna. Sed at leo enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Clase #4 - Prácticas Guiadas
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="video ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/a01D1PzTVFc" title="practicas guiadas" allowfullscreen></iframe>
                      </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Clase #5 - Yoga en Pareja
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Integer non felis at eros mattis vulputate a ut velit. <strong>Nunc sit amet enim ligula.</strong> Morbi ultrices maximus erat, a faucibus quam ullamcorper id. Vestibulum sit amet fringilla metus. Nullam euismod felis sit amet velit euismod, eget tempus magna suscipit. Morbi eleifend nulla eget metus posuere sodales. Etiam lacinia eget massa at ornare.
                </div>
            </div>
        </div>


        
    </div>

</div> 