<div class="descripcion-container">
  <div class="container">
    <div class="TITULO">
      <h1><strong>Curso de Iniciación a Yoga</strong></h1>
      <p>Este curso te ayudará a encontrar tu equilibrio emocional</p>
      <p>Puedes seguirlo a tu ritmo, de acuerdo a tus horarios</p>
      <p>
        4.0 <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-regular fa-star"></i> (120 calificaciones) 900 estudiantes
      </p>
    </div>
    <div class="IMAGEN">
      <img
        class="imagen1"
        src="https://images.unsplash.com/photo-1524863479829-916d8e77f114?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
      />
    </div>
    <div class="BOTONES">
      <h2><strong>$ 200.000</strong></h2>
      <button type="button" class="btn btn-primary btn-lg m-3">
        Añadir al carrito
      </button>
      <button type="button" class="btn btn-secondary btn-lg" (click)="pasarela()">
        Comprar ahora
      </button>

    </div>
    
    <div class="DESCRIPCION">
      <p>
        El yoga es una práctica que conecta el cuerpo, la respiración y la mente. Esta práctica utiliza posturas físicas, ejercicios de respiración y meditación para mejorar la salud general. El yoga se desarrolló como una práctica espiritual hace miles de años. Hoy en día la mayoría de las personas en occidente hace yoga como ejercicio y para reducir el estrés y mejorar su calidad de vida.
  
      </p>
    </div>
  </div>
</div>

<div class="myAccordion">
  <div class="info-adicional">
    <div class="requisitos">
      <h2 class="titulo">Requisitos</h2>
      <ul>
        <li>
          No se requiere experiencia, pero se recomienda no practicar con
          lesiones o padecimientos, consultar previamente médico y especialista
          en yoga
        </li>
        <li>Se requiere tapete especial para yoga y un espacio traquilo.</li>
      </ul>
      <div class="items">
        <ul>
          <li>
            <i id="estrella" class="fa-sharp fa-solid fa-star"></i> Calificacion
            Instructor: 4,7
          </li>
          <li><i class="fa-solid fa-people-group"></i> 120 Aprendices</li>
          <li><i class="fa-solid fa-award"></i> 20 Reseñas</li>
        </ul>
      </div>
    </div>

    <div class="instructor">
      <h2 class="titulo">Instructor</h2>
      <img
        class="imagen2"
        src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
      />
      <p>
        <strong>Juanita Perez:</strong> Ingeniera y practicante de Yoga. <br />

        Practicante de yoga con 8 años de experiencia. Comenzó a practicar
        Ashtanga Vinyasa Yoga con su maestro Ernest Goebel. En 2010 hizo su
        formación bajo la guía de Paola Martínez e Italo Menconi. Participó en
        cursos de reconocidos maestros como David Swenson, Michael Gannon y
        Baptiste Marceau.
      </p>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Clase #1 - Preparación
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <strong>Preparate para empezar en el universo del Yoga</strong> En
          esta clase conoceremos los elementos prinicpales y las ventajas que
          tiene para tu cuerpo y tu mente practicar regularmente Yoga. En
          compañía de tu profesor, podrás conocer y profundizar algunos
          conceptos básicos.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Clase #2 - Primeros pasos en Yoga en el hogar
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="video ratio ratio-16x9">
            <!-- <iframe
              src="https://www.youtube.com/embed/i4dwATyTcCk"
              title="Yoga en el hogar"
              allowfullscreen
            ></iframe> -->
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Clase #3 - Anatomía y Fisiología del Yoga
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Para realizar cada postura de yoga es necesario comprender y conocer la anatomía de nuestro cuerpo, por eso es tan importante ser conciente de cada respiración y cada movimiento. En el yoga la respuesta de nuestro cuerpo, por fuera y por dentro es importante para nuestra mente y lo que nos rodea.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Clase #4 - Prácticas Guiadas
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="video ratio ratio-16x9">
            <!-- <iframe src="https://www.youtube.com/embed/a01D1PzTVFc" title="practicas guiadas" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Clase #5 - Yoga en Pareja
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Más allá del autoconocimiento, de la respiración y del silencio, practicar yoga con tu pareja implica entusiasmo, compromiso, pasión y, cómo no, diversión. Seguro que las dificultades que encontran para realizar determinadas posturas o el resultado de las mismas, Los hara reír con complicidad y sin duda, pasaran ratos inolvidables que mejorarán su relación día a día.
      
        </div>
      </div>
    </div>
  </div>
</div>
