.routing-container {
    width: 286px;
    height: 337px;
    max-height: 337px;
}

a {
    text-decoration: none;
    color: black;
}

a :hover .card-body {
    background-color: var(--tertiary-color);
    color: white;
}

.card-body {
    background-color: var(--secondary-color);
    border-radius: 0 0 calc(0.375rem - 1px) calc(0.375rem - 1px);
    color: white;
    font-family: var(--primary-font);
    overflow: scroll;
    height: 136px;
    transition-duration: 0.6s;
}

.card-body::-webkit-scrollbar {
    display: none;
}

.card {
    border: none;
    height: 337px;
    max-height: 337px;
}

.card-img-top {
    height: 200px;
}

.card{
    width: 18rem
}

@media (max-width: 992px) {
    .card{
        width: 15rem;
    }
    .routing-container{
        width: 15rem;
    }
}

@media (max-width: 768px) {
    .card{
        width: 18rem;
    }
    .routing-container{
        width: 18rem;
    }
}

@media (max-width: 576px) {
    .card{
        width: 12rem;
    }
    .routing-container{
        width: 12rem;
    }
}

@media (max-width: 375px) {
    .card{
        width: auto;
    }
    .routing-container{
        width: auto;
    }
}