<div class="routing-container">
  <a routerLink="/cursos">
    <div class="card" style="width: 18rem">
      <img
        src="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/06/o-que-e-hateoas-400x280.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Curso title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
      </div>
    </div>
  </a>
</div>
