<div class="descripcion-container">
    <div class="container">
      <div class="TITULO">
        <h1><strong>Felicitaciones</strong></h1>
        <br>
        <p>La compra se ha realizado exitosamente. Gracias por confiar en nosotros.</p>
        <p>Ahora puedes realizar este curso completo y en cualquier momento.</p>
      </div>
      <div class="IMAGEN">
        <img
          class="imagen1"
          src="https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2202&q=80"
        />
      </div>
      <div class="BOTONES">
        <button type="button" class="btn btn-primary btn-lg m-3" routerLink="/main">
          Volver a Cursos
        </button>
      </div>
    </div>
  </div>